head
  title Lifestyle Store
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
  link(rel='stylesheet' href='../static/style.css')
body 
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href='index.pug') LIFESTYLE STORE
      div
        ul.navbar-nav.navbar-right
          li
            a.glyphicon.glyphicon-user(href='register.pug') SignUp
          li
            a.glyphicon.glyphicon-log-in(href='#') Login
  #banner_image.row.col-xs-12
    div
      .panel.panel-default.col-xs-3.container-fluid
        .panel-header
          h1  LOGIN
        .panel-body
          p.text-warning Login to make a purchase
          form(action='http://localhost:5000/login.pug' method='POST').form-group
            input#Email(type='email' name='email' placeholder='Email')
            br
            br
            input#pwd(type='password' name='password' placeholder='Password')
            br
            button(type='submit') Submit
        .panel-footer
          span.text-warning Don&apos;t have an account?
          a(href='register.pug') Register
  div
    footer(style='position:fixed;')
      center Copyright &copy; Lifestyle Store.All Rights Reserved| Contact Us: +91 98484 84848
